<div class="chores">
    <h3>Chores</h3>
    <ul>
        <li *ngFor='let chore of chores'>{{chore}}</li>
    </ul>
    <p *ngIf="chores.length > finishedChores.length; then workHarder"></p>
</div>
<ng-template #workHarder>
    <div class="chores">
        <p id="workHarder">Work Harder!</p>
    </div>
</ng-template>
<hr>

<div class="doneChores">
    <h3>Done Chores</h3>
    <ul>
        <li *ngFor='let done of finishedChores'>{{done}}</li>
    </ul>
    <div *ngIf="chores.length === 0 || finishedChores.length >= (chores.length + 3); then targetImage else noAllowance">
    </div>
    <div *ngIf="chores.length === 0 && finishedChores.length >=4; then iceCream else instructions"></div>
</div>

<ng-template #targetImage>
    <div class="doneChores">
        <img
            src="https://www.launchcode.org/assets/icons/target-00c7a0bc7776901e3c5cdc4c36c465f19e41a249bc7267a595f0bfa14ab944b7.png">
    </div>
    <hr>
</ng-template>
<ng-template #noAllowance>
    <div class="doneChores">
        <p>No Allowance Yet</p>
    </div>
    <hr>
</ng-template>
<ng-template #iceCream>
    <div class="doneChores">
        <h1>Ice cream treat!</h1>
    </div>
</ng-template>
<ng-template #instructions>
    <div class="doneChores">
        <h3>To earn an ice cream treat:</h3>
        <p>The chores list must be empty.</p>
        <p>The Done list must have at least 4 items</p>
    </div>
</ng-template>
